#page-wrapper{
  margin:0 0 0 0;
}

.fa-fw{
  font-size: 20px;
}

.margin-a{
  margin-left: 70px;
}

.login-align{
  float: right;
  /*margin-left: 10px;*/
}
.signup-align{
  float: right;
  /*margin-right: 40px;*/
}
.ratio{
  font-size: 10px;
}
.input-month{
  line-height:24px
}
.login-panel-margin{
  margin-top: 5%;
}
.btn-align{
  width: 24% ! important;
  float: right;
}
  .error{
    color:red;
    font-style:italic;
    font-size: 15px
  }
  .alert {
  padding: 15px;
  margin-bottom: -27px;
  border: 1px solid transparent;
  margin-left: 35%;
  color: red;
}
.form-group-bottom {
  margin-bottom: 6px !important;
}
.date {
  background-image: url(image-path('calendar.jpg'));
}
.ui-datepicker-trigger {
  border: 0;
  width: 25px !important;
  margin-bottom: 4px !important;
}